.header {
  width:100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header-img {
 width: calc(80vw-10px);
 padding: 10px;
}

.header-img-size {
  width: 70vw;
}

.link-size {
  width: 60%;
}

.link-menu {
  width: 20vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.gallery {
 display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.gallery-img {
  width: 40vw;
  padding: 10px;
}

.link {
  width: 20vw;
  padding-left: 5px;
}

/* https://www.andyhooke.co.uk/how-to-add-a-paint-stroke-highlight-to-text-using-css-in-divi/ */

.link:hover {
  background-image: url("orange-brush.png");
  background-repeat: no-repeat;
  background-size: 70% 100%;
}

.content {
  width: 80vw;
  margin: auto;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* https://css-tricks.com/seamless-responsive-photo-grid/ */

#photos {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 2;
  -webkit-column-gap:   25px;
  -moz-column-count:    2;
  -moz-column-gap:      25px;
  column-count:         2;
  column-gap:           25px;  

  width: 70vw;
  margin: auto;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding-bottom: 25px !important;
}

@media (max-width: 800px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
